<!-- <div class="email">
  <h4 style="color: #B00100"> "По всем вопросам пишите на почту" </h4>

  <%= mail_to 'q4wk13@gmail.com' do %>
    <p style="text-decoration: none"> q4wk13@gmail.com </p>
  <% end %>
</div> -->

<div class="email">
  <h6 style="color: black"> "По всем вопросам пишите на почту" </h6>
  <%= mail_to 'q4wk13@gmail.com',
              'Q4wK13@gmail.com',
              {style: 'color: red; text-decoration: none;'}
  %>
</div>